.advantage {
  width: 100%;
  padding: 33px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 52px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 52px 50px;
  }
}

.advantage--line {
  padding: 52px 33px 31px 33px;
  background-color: #81b3d2;
  color: rgb(255, 255, 255);
}

.advantage__title {
  margin: 0;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantage__description {
  margin: 0;
  margin-top: 17px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}

.advantage__picture {
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantage__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
