.advantage {
  width: 284px;
  padding: 33px 18px 28px 18px;
  background-color: rgb(238, 238, 238);

  @media (min-width: @tablet-width) {
    width: 190px;
    padding: 52px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding: 52px 50px;
  }
}

.advantage--line {
  background-color: #81b3d2;
  color: rgb(255, 255, 255);
}

.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.advantage__description {
  padding: 0;
  margin: 0;
  margin-top: 17px;
}
