.advantage {
  width: 100%;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 54px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 63px 50px 41px 50px;
  }
}

.advantages__item:nth-child(2) {
  .advantage {
    @media (min-width: @tablet-width) {
      padding: 41px 33px;
    }

    @media (min-width: @desktop-width) {
      padding: 52px 50px 51px 50px;
    }
  }
}

.advantage--line {
  padding: 37px 18px;
  background-color: #81b3d2;
  color: rgb(255, 255, 255);

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 56px 33px 31px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 52px 50px 51px 50px;
  }
}

.advantage--first {
  @media (max-width: @mobile-width-only) {
    background-image: url("../img/triangle-mobile.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 33px 18px 40px 18px;
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantage__title {
  margin: 0 auto;
  margin-bottom: 11px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 150px;
  }
}

.advantage__description {
  margin: 0 auto;
  margin-top: 17px;
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 270px;
  }
}

.advantage__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
