.appointment {
  padding: 38px 18px 49px 18px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__title {
  margin: 0;
  padding: 0;
}

.appointment__description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
