.appointment {
  padding: 38px 18px 49px 18px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__title {
  margin: 0;
}

.appointment__description {
  margin: 0;
  margin-bottom: 32px;
}

.appointment__wrapper {
  width: 284px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 458px;
  }

  @media (min-width: @desktop-width) {
    width: 458px;
  }
}
