.card__panel {
  @media (min-width: @tablet-width) {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
  }

  @media (min-width: @desktop-width) {
    width: 360px;
    position: absolute;
    bottom: 0;
    background-color: #00000041;
    color: rgb(255, 255, 255);
  }
}

.card__panel--line {
  @media (min-width: @desktop-width) {
    width: 1160px;
  }
}

.card__grade {
  display: flex;
  align-items: center;

  @media (max-width: @tablet-width) {
    margin-bottom: 50px;
  }
}
