.catalog {
  padding: 25px 20px;

  @media (min-width: @tablet-width) {
    width: 648px;
    padding: 0 56px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0;
  }
}
