.content {
  padding: 36px 7px 28px 7px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 64px 166px 102px 166px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 382px 67px 382px;
  }
}


.content__slogan {
  margin: 0;
  margin-bottom: 24px;
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.content__intro {
  margin: 0;
  line-height: 21px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    line-height: 24px;
  }

  @media (min-width: @tablet-width) {
    line-height: 21px;
  }
}
