.control-checkbox {
  display: block;
  padding: 10px 0 10px 62px;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
  line-height: 26px;
  font-size: 18px;
}

.control-checkbox__input:checked + .control-checkbox__title::after {
  opacity: 1;
}

.control-checkbox__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.control-checkbox__title::before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.control-checkox__title:hover::before {
  background-color: #e5e5e5;
}

.control-checkbox__title:active::before {
  background-color: #d5d5d5;
}

.control-checkbox__title::after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  left: 12px;
  opacity: 0;
  z-index: 2;
}

.control-checkbox__title:active::after {
  opacity: 0.3;
}
