.content {
  padding: 32px 18px 16px 18px;
  text-align: center;
  text-transform: uppercase;
}

.content__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.content__intro {
  margin: 0;
  padding: 0;
}
