.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  text-align: center;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  margin-right: 12px;
}

.copyright__icon {
  fill: currentColor;
}
