.cover {
  padding: 37px 20px 25px 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 66px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 372px 65px 370px;
  }
}

.cover__slogan {
  margin: 0;
  margin-bottom: 35px;
}

.cover__intro {
  margin: 0;
}
