.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-control__description {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: rgb(51, 51, 51, 60%);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
