.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-control__description {
  margin: 0;
}
