form {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.form {
  text-align: center;
  text-transform: uppercase;
}

.form__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.form__intro {
  margin: 0;
  padding: 0;
}
