.form {
  padding: 36px 20px 28px 20px;
  text-align: center;
  text-transform: uppercase;
}

.form__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.form__intro {
  margin: 0;
  padding: 0;
}
