.input-text {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    width: 280px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
    margin-bottom: 70px;
  }
}

.input-text__legend {
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }
}

.input-text__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.input-text__item {
  display: flex;
  flex-direction: column;
}

.input-text__label {
  flex-basis: 100%;
  margin-left: 16px;
  font-size: 14px;
  line-height: 21px;
}

.input-text__input {
  margin: 0;
  padding: 16px 16px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 0;
  flex-grow: 1;
  position: relative;
  min-height: 58px;
}

.input-text__item--phone {
  position: relative;

  .input-text__input {
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 58px;
  }
}

.input-text__item--phone::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 4;
}

.input-text__item--phone::before {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.input-text__item--email {
  position: relative;

  .input-text__input {
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 58px;
  }
}

.input-text__item--email::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/email.svg");
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 4;
}

.input-text__item--email::before {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
