.input-radio {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  position: relative;
}

.input-radio::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    top: -24px;
    right: -20px;
    height: 1px;
    min-width: 320px;
    background-color: #e5e5e5;
    z-index: 0;
  }
}

.input-radio__line {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 28px;
  }
}

.input-radio__line::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #e7e5e5;
    z-index: 0;
  }
}

.input-radio__title {
  position: sticky;
  margin: 0;
  background-color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding: 0 47px;
  }
}

.input-radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 53px;
  }
}

.input-radio__item {
  width: 280px;
}
