.input-radio {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.input-radio__legend {
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    font-size: 21px;
  }
}

.input-radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 53px;
  }
}

.input-radio__item {
  width: 280px;
}
