.main-footer {
  text-align: center;
}

.main-footer__wrapper {
  padding: 42px 77px 23px 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 35px 78px 36px 70px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 140px 36px 130px;
  }
}

.main-footer__wrapper--photo {
  padding: 28px 77px 23px 77px;

  @media (min-width: @tablet-width) {
    padding: 71px 63px 37px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 124px 36px 116px;
  }
}

.main-footer__wrapper--form {
  padding: 58px 77px 23px 77px;

  @media (min-width: @tablet-width) {
    padding: 100px 63px 37px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 150px 124px 36px 116px;
  }
}

.main-footer__title {
  margin: 0;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 34px;
  }
}
