.main-footer {
  text-align: center;
}

.main-footer__wrapper {
  padding: 28px 77px 23px 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 36px 45px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 104px;
  }
}
