.product {
  background-image: url("../img/back-index-mobile.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #314d59;
  background-position: absolute;
  padding: 90px 19px 85px 19px;
  margin: auto;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-index-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    background-position: absolute;
    width: 460px;
    padding: 78px 154px 90px 154px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-index-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    width: 460px;
    padding: 78px 370px 90px 370px;
    margin: auto;
  }
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
