.service {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.service__item {
  @media (max-width: @mobile-width-only) {
    width: 100%;
    padding: 25px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 60px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 68px 50px;
  }
}

.service__text {
  @media (max-width: @mobile-width-only) {
    width: 237px;
    text-align: left;
  }
}

.service__title {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
  }
}

.service__description {
  margin: 0;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.service__icon {
  width: 40px;

  @media (min-width: @tablet-width) {
    width: 70px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
  }
}

.service__icon img {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
