.warning {
  padding: 17px 26px 28px 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 58px 162px 66px 162px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 378px;
  }
}

.warning__title {
  margin: 0;
  margin-bottom: 39px;
  line-height: 26px;
  font-weight: bold;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

.warning__description {
  margin: 0;
  line-height: 21px;
  font-size: 14px;
}
